.loginHeader {
  background-image: url("./../../assets/AppPictures/LoginBackground.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  height: 460px;
  color: var(--primary-text);
  text-transform: uppercase;
}

.loginHeader h3 {
  font-size: var(--font-2xl);
  font-weight: var(--font-noraml);
  padding: var(--p-xl);
}

.loginHeader h3 span {
  font-weight: var(--font-bold);
}

.loginFormSection {
  padding: var(--p-forma);
  max-width: 100%;
  margin-top: var(--m-lg);
}

.loginFormSection form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  margin-bottom: var(--m-base);
}

.errorText {
  position: absolute;
  color: var(--tertiary-btn-text);
  padding-left: var(--p-base);
  font-weight: var(--font-noraml);
  font-size: var(--font-xs);
}

@media (min-width: 768px) {
  .loginHeader {
    background-position: top center;
    height: 620px;
  }
}

@media (min-width: 1024px) {
  .loginHeader {
    background-position: top center;
    height: 700px;
  }
}
