.inputBase {
  position: relative;
  color: var(--primary-text);
  background-color: transparent;
  border: none;
  border-bottom: var(--border-b);
  outline: none;
  width: 100%;
  font-size: var(--font-base);
  font-weight: var(--font-medium);
  padding: var(--p-base);
  transition: border-color 0.2sec;
}

::placeholder {
  font-weight: var(--font-normal);
  font-size: var(--font-base);
  color: var(--primary-text);
}

label {
  display: block;
  font-size: var(--font-base);
  color: var(--secondary-text);
  /*padding-left: var(--p-base);*/
  margin-bottom: var(--m-xs);
}

.errorText {
  position: absolute;
  color: var(--tertiary-btn-text);
  padding-left: var(--p-base);
  font-weight: var(--font-normal);
  font-size: var(--font-xs);
}

.inputError {
  border-bottom-color: red;
}

@media (min-width: 1024px) {
  .inputBase {
    font-size: var(--font-lg);
  }

  ::placeholder {
    font-size: var(--font-xl);
  }

  label {
    font-size: var(--font-xl);
  }
}
