.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.appNavigation {
  min-height: 92px;
  padding: var(--p-gap);
  font-size: var(--font-sm);
  font-weight: var(--font-semibold);
  display: flex;
}

.activeNav {
  display: flex;
  gap: var(--gap-lg);
  align-items: center;
}

.activeNav li a.active {
  text-decoration: underline 2px #d0fd3e;
  text-underline-offset: 8px;
}

.dark {
  background-color: var(--primary-background);
}

.loggedNav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loggedNav li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: var(--rounded-3xl);
  transform: border 0.3s, transform 0.3s;
}

.loggedNav li a.active {
  border: 1px solid var(--primary-btn-hover);
}
