.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.appNavigation {
  min-height: 92px;
  padding: var(--p-gap);
  font-size: var(--font-sm);
  font-weight: var(--font-semibold);
  display: flex;
  align-items: center;
}

.navLogged {
  justify-content: center;
}

.navPublic {
  justify-content: flex-start;
}

.dark {
  background-color: var(--primary-background);
}

.loggedNav {
  height: 100%;
  display: flex;
  gap: var(--gap-xs);
}

.loggedNav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: var(--rounded-3xl);
}

.loggedNav li a.active {
  border: 1px solid var(--primary-btn-hover);
}

.publicNav {
  display: flex;
  gap: var(--gap-lg);
  align-items: center;
}

.publicNav li a.active {
  text-decoration: underline 2px #d0fd3e;
  text-underline-offset: 8px;
}

@media (min-width: 425px) {
  .loggedNav li a {
    width: 52px;
    height: 52px;
  }

  .loggedNav {
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .loggedNav {
    gap: 32px;
  }

  .loggedNav li a {
    width: 60px;
    height: 60px;
    font-size: var(--font-lg);
  }
}

@media (min-width: 1024px) {
  .loggedNav {
    gap: 40px;
  }

  .loggedNav li a {
    width: 70px;
    height: 70px;
    font-size: var(--font-2xl);
  }

  .publicNav li a {
    font-size: var(--font-2xl);
  }
}
