.calendarHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--p-gap);
  width: 100%;
  max-width: 500px;
  margin: 80px auto 24px;
}

.calendarHeader h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
