.setupHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--p-gap);
  margin-bottom: var(--m-);
  gap: var(--gap-sm);
  background-image: url("./../../../assets/AppPictures/onbording_background.jpg");
  background-size: cover;
  background-position: center;
  height: 340px;
  text-align: center;
}

.setupHeader h2 {
  font-size: var(--font-xl);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  color: var(--secondary-text);
}

.setupHeader p {
  font-size: var(--font-base);
  font-weight: var(--font-semibold);
  color: var(--primary-text);
  text-transform: uppercase;
}

.setupSection {
  padding: var(--p-gap);
}

.setupInput {
  margin-bottom: var(--m-sm);
  margin-top: var(--m-xs);
}

.unitDiv {
  display: flex;
  position: relative;
  width: 100%;
}

.unitDiv input {
  width: 100%;
  padding-right: 50px;
}

.unit {
  position: absolute;
  right: 12px;
  top: 50%;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  border: 1px solid;
  border-radius: var(--rounded-xl);
  background-color: #d0fd3e;
  color: var(--tertiary-text);
  padding: 2px 6px;
}

.genderSelection {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.genderOption {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  padding: var(--p-small);
  border: 1px solid var(--border-b);
  border-radius: var(--rounded-xl);
  cursor: pointer;
}

.genderOption input {
  accent-color: #d0fd3e;
}

.errorText {
  color: var(--tertiary-btn-text);
  font-weight: var(--font-normal);
  font-size: var(--font-base);
  text-align: center;
}

@media (min-width: 768px) {
  .setupHeader h2 {
    font-size: var(--font-2xl);
  }
}

@media (min-width: 1024px) {
  .setupHeader {
    height: 480px;
  }
}
