.setupHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--p-gap);
  gap: var(--gap-sm);
  background-image: url("./../../../assets/AppPictures/onbording_background.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  text-align: center;
}

.setupHeader h2 {
  font-size: var(--font-xl);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  color: var(--secondary-text);
}

.setupHeader p {
  font-size: var(--font-base);
  font-weight: var(--font-semibold);
  color: var(--primary-text);
  text-transform: uppercase;
}

.setupSection {
  padding: var(--p-gap);
  max-width: 600px;
  margin: 0 auto;
}

.setupInput {
  margin-bottom: var(--m-sm);
  margin-top: var(--m-xs);
}

.unitDiv {
  display: flex;
  position: relative;
  width: 100%;
}

.unitDiv input {
  width: 100%;
}

.unit {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  border: 1px solid;
  border-radius: var(--rounded-xl);
  background-color: #d0fd3e;
  color: var(--tertiary-text);
  padding: 3px 6px;
}

.genderField {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.genderSelection {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.genderOption {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-base);
}

.errorText {
  color: var(--tertiary-btn-text);
  font-size: var(--font-base);
  text-align: center;
}

@media (min-width: 425px) {
  .setupHeader h2 {
    font-size: var(--font-2xl);
  }

  .setupHeader p {
    font-size: var(--font-lg);
  }
}

@media (min-width: 768px) {
  .setupHeader {
    height: 450px;
  }

  .setupHeader h2 {
    font-size: var(--font-3xl);
  }

  .setupSection {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .setupHeader {
    height: 500px;
  }

  .setupHeader h2 {
    font-size: var(--font-4xl);
  }

  .setupHeader p {
    font-size: var(--font-xl);
  }

  .setupSection {
    max-width: 800px;
  }

  .unit {
    font-size: var(--font-sm);
    padding: 4px 8px;
  }
}
