.modalSection {
  width: 100%;
}

.modalSection label {
  padding-left: 0;
}

.modalSection p {
  color: var(--secondary-text);
}

.categoryMenu,
.exercisesMenu {
  width: 100%;
  padding: var(--p-base);
  font-size: var(--font-sm);
  border: 2px solid #ccc;
  border-radius: var(--rounded-lg);
  background: var(--primary-text);
  transition: 0.3s;
  margin-top: var(--m-xs);
}

.workoutBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-sm);
}

.exerciseBtns {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  margin-top: var(--m-xs);
}

.addExerciseBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--m-xs);
}

.inputSection p {
  color: var(--secondary-text);
  padding-bottom: var(--p-sm);
}

.exercisePreview {
  width: 100%;
  padding: var(--p-base);
  font-size: var(--font-sm);
  border: 2px solid #ccc;
  border-radius: var(--rounded-lg);
  background: var(--primary-text);
  transition: 0.3s;
  max-height: 240px;
  overflow: auto;
}

.exerciseItem {
  border-bottom: 1px solid #ccc;
  padding: var(p--xs);
}

.errorText {
  color: var(--tertiary-btn-text);
  text-align: center;
  font-weight: var(--font-normal);
}

@media (min-width: 425px) {
  .exercisePreview {
    padding: var(--p-exercise);
    font-size: var(--font-base);
  }

  .exerciseBtns {
    flex-direction: row;
    width: 100%;
    gap: var(--gap-sm);
    margin-top: var(--m-xs);
  }

  .exerciseBtns button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .exercisePreview {
    max-height: 320px;
  }

  .exerciseItem {
    padding: var(--p-base);
    font-size: var(--font-lg);
  }
}
