.editHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--p-gap);
  gap: 40px;
}

.headerInfo {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.editHeader h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.editProfileImg {
  display: flex;
  justify-content: center;
}

.editProfileImg p {
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to top, #d0fd3e, #ff2424) border-box;
  border-radius: var(--rounded-3xl);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-3xl);
}

.editFormSection {
  padding: var(--p-gap);
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.editInput {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.editInput input[type="email"] {
  opacity: 0.4;
  pointer-events: none;
}

.unitDiv {
  position: relative;
}

.unitDiv input {
  padding-right: 60px;
}

.unit {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--span-background);
  color: var(--tertiary-text);
  font-size: var(--font-xs);
  padding: 4px 6px;
  border-radius: var(--rounded-xl);
  border: 1px solid var(--tertiary-text);
}

.genderField {
  padding-bottom: var(--p-lg);
  border-bottom: var(--border-b);
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.genderSelection {
  display: flex;
  gap: var(--gap-lg);
}

.genderOption {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.genderOption input {
  accent-color: #d0fd3e;
  width: 16px;
  height: 16px;
}

@media (min-width: 425px) {
  .editProfileImg p {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) {
  .editProfileImg p {
    width: 140px;
    height: 140px;
    font-size: var(--font-4xl);
  }
}

@media (min-width: 1024px) {
  .editHeader h1 {
    font-size: var(--font-2xl);
  }

  .editFormSection {
    max-width: 650px;
  }

  .editForm {
    gap: var(--gap-xl);
  }

  .unit {
    font-size: var(--font-sm);
  }
}
