.editHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--p-gap);
  margin-top: var(--m-2xl);
  gap: 50px;
}

.headerInfo {
  display: flex;
  gap: var(--gap-lg);
}

.editHeader h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.editProfileImg {
  display: flex;
  justify-content: center;
  margin-bottom: var(--m-sm);
}

.editProfileImg p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to top, #d0fd3e, #ff2424) border-box;
  border-radius: var(--rounded-3xl);
  font-size: var(--font-3xl);
}

.editFormSection {
  padding: var(--p-gap);
}

.editInput {
  margin-bottom: var(--m-sm);
  margin-top: var(--m-xs);
}

.editInput input[type="email"] {
  opacity: 20%;
}

.unitDiv {
  display: flex;
  position: relative;
}

.unit {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  border: 1px solid;
  border-radius: var(--rounded-xl);
  background-color: var(--span-background);
  color: var(--tertiary-text);
  padding: 0 4px;
}

.unitDiv span {
  font-size: var(--font-sm);
  font-weight: var(--font-normal);
}

.visibility {
  border: none;
  background: none;
}

.genderField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-b);
  padding-bottom: var(--p-lg);
}

.genderSelection {
  display: flex;
}
