.editHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--p-gap);
  margin-top: var(--m-3xl);
  gap: 50px;
}

.headerInfo {
  display: flex;
  gap: var(--gap-lg);
}

.editHeader h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.editProfileImg {
  display: flex;
  justify-content: center;
}

.editProfileImg p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to top, #d0fd3e, #ff2424) border-box;
  border-radius: var(--rounded-3xl);
  font-size: var(--font-3xl);
}

.editFormSection {
  padding: var(--p-gap);
}

.editInput {
  margin-bottom: var(--m-sm);
  margin-top: var(--m-xs);
}

.editInput input[type="email"] {
  opacity: 20%;
}

.unitDiv {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.unit {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px 8px;
  border-radius: var(--rounded-xl);
  border: 1px solid var(--primary-btn-hover);
  background-color: var(--span-background);
  color: var(--tertiary-text);
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
}

.unitDiv span {
  font-size: var(--font-sm);
  font-weight: var(--font-normal);
}

.genderField {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-b);
  padding-bottom: var(--p-lg);
}

.genderSelection {
  display: flex;
  gap: var(--gap-xs);
}

@media (min-width: 1024px) {
  .editHeader {
    margin-top: var(--m-4xl);
  }

  .headerInfo h1 {
    font-size: var(--font-2xl);
  }

  .editProfileImg p {
    width: 140px;
    height: 140px;
  }

  .editFormSection {
    width: 600px;
    margin: 0 auto;
  }

  .editForm {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
  }

  .unit {
    padding: 8px 16px;
    font-size: var(--font-xl);
    font-weight: var(--font-semibold);
  }
}
