.profileHeader {
  display: flex;
  justify-content: center;
  padding: var(--p-gap);
  text-transform: uppercase;
  margin-top: var(--m-2xl);
}

.profileHeader h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
}

.profileSection {
  display: flex;
  align-items: center;
  padding: var(--p-gap);
  gap: var(--gap-lg);
}

.leftInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  text-align: center;
  text-transform: uppercase;
}

.profilePic {
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to top, #d0fd3e, #ff2424) border-box;
  border-radius: var(--rounded-3xl);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-3xl);
}

.leftInfo h3 {
  font-size: var(--font-3xl);
  font-weight: var(--font-normal);
}

.leftInfo h3 span {
  font-weight: var(--font-bold);
}

.rightInfo {
  border-left: var(--border-t);
  padding-left: var(--p-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.rightInfo p {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.rightInfo span:first-child {
  font-size: var(--font-xs);
  font-weight: var(--font-normal);
}

.rightInfo span:last-child {
  font-size: var(--font-base);
  font-weight: var(--font-semibold);
}

.profileSettings {
  padding: var(--p-gap);
  margin-top: var(--m-base);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.profileSettings li {
  border-bottom: var(--border-b);
  font-size: var(--font-sm);
  font-weight: var(--font-semibold);
  padding: 20px 20px 20px 0;
}

@media (min-width: 425px) {
  .profilePic {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) {
  .profileHeader {
    margin-top: var(--m-3xl);
  }

  .profileHeader h1 {
    font-size: var(--font-2xl);
  }

  .profileSection {
    justify-content: center;
  }

  .profilePic {
    width: 150px;
    height: 150px;
    font-size: var(--font-4xl);
  }

  .profileSection {
    gap: var(--gap-xl);
  }
}

@media (min-width: 1024px) {
  .profileHeader {
    margin-top: var(--m-4xl);
  }

  .profileHeader h1 {
    font-size: var(--font-2xl);
  }

  .profilePic {
    width: 170px;
    height: 170px;
  }

  .leftInfo h3 {
    font-size: var(--font-3xl);
  }

  .rightInfo span:first-child {
    font-size: var(--font-xl);
  }

  .rightInfo span:last-child {
    font-size: var(--font-xl);
  }

  .profileSettings {
    max-width: 700px;
    margin: var(--m-lg) auto 0 auto;
  }

  .profileSettings li {
    font-size: var(--font-xl);
  }
}
