.homeHeader {
  margin-top: var(--m-3xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  margin-bottom: 32px;
}

.homeHeader h1 {
  font-size: var(--font-2xl);
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.homeHeader p {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--secondary-text);
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .homeHeader {
    margin-top: var(--m-4xl);
  }

  .homeHeader h1 {
    font-size: var(--font-3xl);
    font-weight: 700;
  }

  .homeHeader p {
    font-size: var(--font-xl);
    font-weight: 400;
    color: var(--secondary-text);
    text-transform: uppercase;
  }
}
